
/*navbar styles*/
.navbar-brand {
    height:80px;
    background:#4aaa;
    margin:0;
    padding: 20px 10px 0px 10px;
    color:#fff;
}

.nav-link{
    color:#4aaa;
}

.navbar {
    padding:0;
}

/*contact styles*/

.btn{
    background: #4aaa;
}

.imgBox{
    height:200px;margin-bottom: 15px;

}

#b1 {
    height:100%;
    background-image:url("../images/focus.jpg");
    background-size: cover;
}

#b2{
    height:100%;
    background-image:url("../images/bird.jpg");
    background-size: cover;
}  
#b3{
    height:100%;
    background-image:url("../images/car-tire.jpg");
    background-size: cover;
}  
#b4{
    height:100%;
    background-image:url("../images/long-road.jpg");
    background-size: cover;
}  
#b5{
    height:100%;
    background-image:url("../images/logo_555x333.jpg");
    background-size: cover;
}  

/*#aboutImg{
    width:200px; 
    height: 200px; 
    margin:0 20px 0 0px;
    background-image: url("../images/slack_photo.jpg");
    background-size: cover;
}*/

.img-thumbnail {
    height:200px;
    width:250px;
    margin: 0px 15px 0px 0px;
}

h2{
    color:#fff;
    font-size: 20px;
    background:#4aaa;
}

h1{
    color:#fff;
}

#b1, #b2, #b3, #b4, #b5 {
    padding-top: 128px;   
    position:relative;
}

.label{
    position:absolute;
    left:0;
    width:100%;
    text-align:center;
    
}

.col-4.border.border-success {
    padding-right:10px;
}
