

.fixed-bottom{
    height:40px;
}

/*contact styles*/

.btn{
    background: #252839;
}

.imgBox{
    height:200px;margin-bottom: 15px;

}

#b1 {
    height:100%;
    background-image:url("../images/Screenshot\ \(21\).png");
    background-size: cover;
}

#b2{
    height:100%;
    background-image:url("../images/Screenshot\ \(20\).png");
    background-size: cover;
}  
#b3{
    height:100%;
    background-image:url("../images/Screenshot\ \(18\).png");
    background-size: cover;
}  
#b4{
    height:100%;
    background-image:url("../images/veggies_soil_4.jpg");
    background-size: cover;
}  
#b5{
    height:100%;
    background-image:url("../images/Screenshot\ \(22\).png ");
    background-size: cover;
}  

#aboutImg{ 
    margin:0 15px 20px 0px;
    border-radius:20%;
    height:auto;
    width:300px;
}
#aboutImg::after{
    clear:both;
}

.img-thumbnail {
    height:200px;
    width:250px;
    margin: 0px 15px 0px 0px;
}

h3{
    color:#252839;
    border-bottom:#333;
}

contact{
    border-bottom:red;
}

h3{
    font-family:"Gerogia";
}


h2{
    color:#fff;
    font-size: 20px;
}


h1{
    color:#fff;
}

#b1, #b2, #b3, #b4, #b5 {
    padding-top: 128px;   
    position:relative;
}

.label{
    position:absolute;
    left:0;
    width:100%;
    text-align:center;
    
}

.col-4.border.border-success {
    padding-right:10px;
}

.title{
    border-bottom:1px solid gray;
    margin-bottom:20px;
    padding:0px;
}


/*Redoing the styling entirely startign with -- paralax styles*/
/* 
    color palette:
    Yellow Hand: #fbf579
    Lonely Blue: #005995
    Stationary Pink Red: #fa625f
    Purpled: #60473
*/

/*=================about me section======================*/
.container{
    background-color: #fff;
    margin:20px auto;
    padding:25px;
}

#pro-img{
    border-radius: 500px;
    display: block;
    height:auto;
    width:100%;
  }



/*=================about me section======================*/


.navbar{
    border-bottom:1px soild #005995;
}
.navbar-brand {
    height:60px;
    background:#600473;
    margin:0;
    padding: 20px 10px 0px 10px;
    color:#fff;
}
#my-name{
    font-size:1em;
}

.jumbotron{
    color:black;
    margin: 0%;
    border-bottom: 2px solid #005995
}

.row{
    margin: 0% 5%;
}

p{
    font-family: 'Roboto', sans-serif;
    font-size: 1.3em;
}

.jumbotron img{
    margin: 15px 25px 15px 0;
    border:solid 2px #005995;
    float:left;
}

.jumbotron h3{
    font-size:2em;
    color:#005995;
    border-bottom:2px solid #005995;
}

.navbar-toggler{
    background:blue;
}

.nav-link{
    color:#005995;
}

.navbar {
    padding:0;
}


#parallaxBody,#parallaxHTML{
    height:100%;
}

.parallax{ 
    /*the image used and relative parent element to teh about-me text*/
    background-image: url("../images/arduino_background.jpg");
    /*need to set a specific height*/
    height:100%;
    /*create the parallax scrolling effect*/
    background-attachment: fixed;
    background-position:center;
    background-repeat: no-repeat;
    background-size:cover;
    text-align:center;
    line-height: 20px;
    /*position: relative;*/
}

#about-me{
  position: absolute;
  top:50%;
  left:50%;
  /*the above sets the top left corner to the center*/
  height:30%;
  width:70%;
  /*give element negative top and left margin equal to half its height and width*/
  margin:-15% 0 0 -35%;
}

.article-title{
    border-bottom:1px solid black;
}

.col-sm-4{
    padding:20px;
}
.card{
    color:black;
    font-family:'Roboto', sans-serif;
    height:100%;
}

.card-title{
    color:black;
    font-family:"Georgia";
    border-bottom:1px solid 
}





@media only screen and (max-device-width: 1366px){
    .parrallax{
        background-attachment: scroll;
    }
}